body {
    background-image: url("../../Assets/bg_4k.jpg");
    background-size: cover; 
    background-position: center;
    margin: 30px; 
    padding: 0; 
}
#h2{
    color: black;
    margin-top: 80px;
    font-size: 24px;
}