.error {
    color: red;
  }
  .error-border {
    border: 1px solid red;
  }
body {
    background-image: url("../../Assets/bg_main.jpg");
    background-size: cover; 
    background-position: center;
    margin: 0; 
    padding: 0; 
}