.error {
    color: red;
  }
  .error-border {
    border: 1px solid red;
  }
body {
    background-image: url("../../Assets/bg_4k.jpg");
      opacity: 0.5;
    background-size: cover; 
    background-position: center;
    margin: 0; 
    padding: 0; 
}
#h2{
    color: black;
    margin-top: 80px;
    font-size: 24px;
}